# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env/

# build-related directories and files
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Output files
__pycache__/
*.db

# macOS
.DS_Store


